<app-header></app-header>

<main role="main" class="container">
  <div class="app-root">
    <h1 class="title">RGB to HEX Converter</h1>

    <form [formGroup]="form">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 row">
          <div class="col-sm-4">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">R</div>
              </div>
              <input type="number" min="0" max="255" class="form-control" placeholder="0 - 255" formControlName="red">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">G</div>
              </div>
              <input type="number" min="0" max="255" class="form-control" placeholder="0 - 255" formControlName="green">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">B</div>
              </div>
              <input type="number" min="0" max="255" class="form-control" placeholder="0 - 255" formControlName="blue">
            </div>
          </div>
        </div>
      </div>

      <div class="col-auto submit-btn-wrapper">
        <button type="submit" class="btn btn-primary mb-2" (click)="convertToHex()">Convert to HEX</button>
      </div>
    </form>

    <div class="result" *ngIf="hexCode">
      <div class="hex-code">{{hexCode}}</div>
      <div class="row">
        <div class="col-sm-6 col-md-4 offset-sm-3 offset-md-4 example" [ngStyle]="{backgroundColor: hexCode}"></div>
      </div>
    </div>
  </div>

</main>
