<app-header></app-header>

<main role="main" class="container">
  <div class="app-root card">
    <h1 class="title">CSS Beautify</h1>

    <form>
      <h3>Beautify your CSS code: </h3>
      <div class="input">
        <textarea #input></textarea>
      </div>
      <div class="submit-btn-wrapper" id=submit-button>
        <button #submitButton type="submit" class="btn btn-primary" (click)="beautify()">Beautify Now</button>
      </div>
      <div class="output">
        <textarea #output></textarea>
      </div>
    </form>

    <br>
    <div>
      <p>
        Enter your messy, minified, or obfuscated CSS Style Sheets into the field above to have it cleaned up and made
        pretty. The editor above also contains helpful line numbers and syntax highlighting. There are many option to
        tailor the beautifier to your personal formatting tastes.
      </p>
      <h3>When do you use</h3>
      <p>
        Often when writing CSS Style Sheets your indentation, spacing, and other formatting can become a bit
        disorganized.
        It is also common for multiple developers to work on a single project who have different formatting techniques.
        This tool is helpful for making the formatting of a file consistent. It is also common for CSS Style Sheets to
        be
        minified or obfuscated. You can use this tool to make that code look pretty and readable so it is easier to
        edit.
      </p>
    </div>
  </div>

</main>
